/* Reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  /* Colors */
  --white: #ecf0f1;
  --black: #222;
  --primary: #00acbd;
  --primary-light: #00d7e2;
  --accent: ;
  --midnight-blue: ;
  --grey: ;

  /* Fonts */
  --ff-main: "Lato", sans-serif;
  --ff-title: "Open Sans", sans-serif;

  /* Reset de la taille de police pour utiliser les rem en base 10 au lieu de 16 (je suis pas bon en math) */
  font-size: 62.5%;
}

/* Style général des éléments */
html {
  scroll-behavior: smooth;
}

body {
  color: var(--black);
  font-family: var(--ff-main);
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
}

p,
li {
  line-height: 1.4;
}

a,
button {
  color: inherit;
}

button {
  font-size: inherit;
  cursor: pointer;
}

img {
  display: block;
}

input,
textarea {
  padding: 8px;
  background: var(--white);
  font-size: 1.6rem;
  border: 1px solid var(--black);
  border-radius: 2px;
}

label {
  margin-bottom: 8px;
}

textarea {
  min-height: 150px;
  font-family: var(--ff-main);
  resize: none;
}

video {
  max-width: 100%;
}

/* Style général */
.section-title {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 32px;
}

.article-title {
  font-size: 2.4rem;
  margin-bottom: 16px;
}

/* Utilitaires */
.btn {
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.btn--cta {
  font-size: 1.8rem;
  border: 1px solid var(--white);
  margin-bottom: 64px;
  transition: background-color 0.2s ease-out;
}

.btn--cta:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease-out;
}

.bold {
  font-weight: 700;
}

.normal {
  font-style: normal;
}

/* Header */

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black);
  color: var(--primary);
  padding: 8px 32px;
}

.mobile-menu__toggler {
  border: none;
  background: none;
  padding: 4px;
  font-size: 3.2rem;
  transition: color 0.2s ease-out;
  display: none;
}

.navigation {
  display: flex;
  gap: 16px;
}

.navigation__link {
  position: relative;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 600;
  padding: 8px;
  transition: color 0.2s ease-out;
}

.navigation__link:hover,
.mobile-menu__toggler:hover,
.navigation__link--active {
  color: var(--primary-light);
  transition: color 0.2s ease-out;
}

.navigation__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--primary);
  transform: scale(0);
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
}

.navigation__link:hover::after,
.navigation__link--active::after {
  transform: scale(1);
  background: var(--primary-light);
  transition: transform 0.2s ease-out;
}

@media screen and (max-width: 840px) {
  .mobile-menu__toggler {
    display: block;
  }
  .navigation {
    display: none;
  }

  .navigation--active {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: fit-content;
    z-index: 10;
    background: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.3);
  }
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  background: var(--black);
  color: var(--primary);
  padding: 16px 32px;
}

footer a {
  transition: color 0.2s ease-out;
}

footer a:hover {
  color: var(--primary-light);
  transition: color 0.2s ease-out;
}

.footer__container:first-child {
  text-align: center;
}

.footer__container:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.networks__container {
  display: flex;
  gap: 8px;
  font-size: 24px;
}

@media screen and (max-width: 1080px) {
  footer {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .footer__container:nth-child(2) {
    order: 3;
  }
}
